.ProjectHeader {
    width: 60%;
    margin: auto auto;
}

.ProjectHeader h1 {
    text-align: center;
}

.ProjectHeader img {
    margin: auto auto;
    display: block;
    width: 20%;
    border-radius: 50%;
}

@media (max-width: 575.98px) {
    .ProjectHeader img {
        display: none;
    }
}