.ProjectHeader {
    width: 20rem;
    margin: auto auto;
}

.ProjectHeader h1 {
    text-align: center;
}

.ProjectHeader img {
    margin: auto auto;
    display: block;
    width: 100vh;
}

@media (max-width: 575.98px) {
    .ProjectHeader img {
        display: none;
    }
}