<footer class="page-footer orange">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">My links:</h5>
                <ul>
                    <li><a class="white-text" href="https://www.linkedin.com/in/paul-de-jong-41626112a/" target="_blank">LinkedIn</a></li>
                    <li><a class="white-text" href="https://github.com/PleulSolutions" target="_blank">GitHub</a></li>
                    <li><a class="white-text" href="https://www.patreon.com/Pleul" target="_blank">Patreon</a></li>
                </ul>
            </div>
            <div class="col l6 s12">
                <h5 class="white-text">Useful websites:</h5>
                <ul>
                    <li><a class="white-text" href="https://stackoverflow.com" target="_blank">Stackoverflow</a></li>
                    <li><a class="white-text" href="https://www.w3schools.com" target="_blank">W3schools</a></li>
                    <li><a class="white-text" href="https://discordjs.guide" target="_blank">DiscordJS Get Started</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="orange-text text-lighten-3" href="https://www.linkedin.com/in/paul-de-jong-41626112a/"
                target="_blank">Paul de Jong</a>
        </div>
    </div>
</footer>
